target
src/target
.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
/api_init_files_list.txt
/estimator_api_init_files_list.txt

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

# cmake
cmake-build-debug
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
build
bin
lib/*joygraph.*
*.cbp
/include/config.h
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
**/vm/.vagrant
